[Unit]
Description=Create the Redfish Host Interface firmware accounts
Wants=xyz.openbmc_project.User.Manager.service
After=xyz.openbmc_project.User.Manager.service
Before=bmcweb.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/flax-hi-account.sh create

[Install]
WantedBy=multi-user.target
