CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="console=ttyS4,57600n8 root=/dev/ram rw"
CONFIG_USE_BOOTCOMMAND=y
CONFIG_BOOTCOMMAND="sf probe; sf read 0x83000000 0x100000 0x2400000; bootm 0x83000000"
#CONFIG_BOOTCOMMAND="bootm 20080000"
CONFIG_BAUDRATE=57600
