[Unit]
Description=Phosphor Console Muxer listening on device /dev/%I
BindsTo=dev-%i.device
After=dev-%i.device

[Service]
ExecStartPre=/usr/bin/sol-configure.sh setup
ExecStart=/usr/bin/env obmc-console-server --config /etc/obmc-console.conf %i
ExecStopPost=/usr/bin/sol-configure.sh teardown
SyslogIdentifier=obmc-console-server
Restart=always

[Install]
WantedBy=multi-user.target
