[Unit]
Description=TiogaPass hardware initialization (LPC port 80h redirect)
DefaultDependencies=no
After=systemd-udevd.service
Before=obmc-console@.service phosphor-sel-logger.service

[Service]
Type=oneshot
ExecStart=/usr/bin/tiogapass-hw-init.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
