[Unit]
Description=Flash Host BIOS image %I to host SPI flash

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/sbin/bios-update /tmp/images/%i
